*{
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'Helvetica neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    background: #777777;
    width: 1010px;
    

}

/* Header, Nav, Section, Aside, Footer;*/

.header {
    background: #ebebeb;
    height: 100px;
    text-align: center;
    padding: 20px;
    padding-bottom: 10px;
    margin: 10px;
}

.nav {
    background:#ebebeb;
    height: 100px;
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    margin: 10px;
}

#section {
    background: #ebebeb;
    text-align: center;
    padding: 25px;
    padding-top: 20px;
}

#article {
    background: #777777;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    height: 200px;
    margin: 20px;
    width: 90%;
    color: #ebebeb;
    font-size: 12px;  
}


.headings {
    color: #777;
    background: #ebebeb;
    padding: 25px;
    margin: 10px;
    margin-top: 10px;
    width: 95%;
    height: 60px;
}

.p {
    color: #777;
    background: #ebebeb;
    overflow: auto;
    padding: 10px;
    margin: 10px;
    width: 95%;
    height: 60px;
}

.container1 {
    background: #ebebeb;
    width: 535px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
}

.aside {
    height: 300px;
    width: 430px;
    color: #777;
    background: #ebebeb;
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    padding: 50px;
}

.footer {
    color: #777;
    background: #ebebeb;
    clear: both;
    margin: 10px;
    height: 100px;
    text-align: center;
    padding: 35px;
}